body{
background-color:cyan;}
 
h1{
font-family: Arial;
font-size: 250%;
text-align: center;
color: darkblue;}
 
h6{
font-family: Arial;
font-size: 100%;
text-align: center;
color: darkblue;}
 
label{
color: darkblue;}
 
p{
font-family:Arial;
font-size:125%;
text-align:center;
color: darkblue;}
 
table, th, td {
border: 4px solid black;
border-collapse: collapse;
padding: 35px;
table-layout: auto;
background-color:purple;
font-size:120%;
color: white;}
 
caption{font-size: 160%;
color: darkblue;}
 
ul{
    list-style-type: disc;}